.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  font-size: 2.0rem;
}

nz-header {
  position: fixed;
  width: 100%;
  font-size: 2.0rem;
}

[nz-menu] {
  line-height: 64px;
  font-size: 2.0rem;
}

